@charset "utf-8";

body {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.header_input {
    background-color: #CFAAFF;
    font-size: 70px;
    position: relative;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.input {
    width: 850px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

h2 {
    text-align: center;
    margin: 5;
}

h3 {
    background-color: #CFAAFF;
    margin: 3;
}

h4 {
    background-color: #F7F0FF;
    font-size: 15px;
}

.Profile {
    background-color: #F7F0FF;
}

.Price , .Sex , .Age , .Season , .Category{
    background-color: #F7F0FF;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li {
    list-style: none;
    margin-left: 30px;
    margin-right: 50px;
}

.Price_cont-inner {
    list-style: none;
    margin-left: 100px;
    margin-right: 120px;
}

.Sex_input-inner {
    list-style: none;
    margin-left: 35px;
    margin-right: 60px;
}

.Age_input-inner {
    list-style: none;
    margin-left: 38px;
    margin-right: 57px;
}

.Season_input-inner {
    list-style: none;
    margin-left: 26.8px;
    margin-right: 49px;
}

.Cate_input-inner {
    list-style: none;
    margin-left: 32px;
    margin-right: 47px;
}

.Cat-_input-inner {
    list-style: none;
    margin-left: 55px;
    margin-right: 65px;
}


button {
    background-color: #DBBFFF;
    width: 5em;
    height: 2em;
    font-size: 20px;
    border: 0;
    border-radius: 60px;
}