@charset "utf-8";

h2 {
    font-size: 36px;
    text-align: center;
}

h3 {
    background-color: rgb(168, 168, 168);
    text-align: left;    
    font-size: 20px;
}

h4 {
    font-size: 20;
    text-align: left;
}

.Price {
    background-color: rgb(228, 228, 228);
    text-align: center;
    margin: 2em;
}

ul {
    display: flex;
    list-style: none;
    text-align: center;
    margin: 3em;
}

.Sex {
    background-color: rgb(228, 228, 228);
    text-align: center;
    margin: 2em;
}

